.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;

  /* padding: 1rem; */
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  /* height: 550px; */
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: white;
  cursor: pointer;
}

.avatar {
  width: 250px;
  transform: translate(0, -0.5rem);
  transition: transform 500ms ease-in-out;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
  margin-bottom: 20px;
}

.description:hover .avatar {
  transform: translate(0, -3rem);
}

.name {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 32px;
}

.tag {
  color: cornflowerblue;
  font-size: medium;
  margin-bottom: 10px;
}

.location {
  font-size: medium;
  margin-bottom: 5px;
}

.stats {
  background-color: white;
  width: 350px;
  display: flex;
  /* margin: 0 auto; */
  padding: 0;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #0f0f4f;
  border-right: 1px solid #0f0f4f;
}

.item:last-child {
  border-right: none;
}

.label {
  margin-bottom: 5px;
  font-weight: 500;
}
